body {
  background: linear-gradient(#3ab795, #a0e8af);
}

.home h1 {
  color: white;
  font-family: "Imperial Script", cursive;
  font-style: italic;
  border-style: solid;
  border-color: aliceblue;
  background-color: #a0e8af;
  font-family: "Imperial Script", cursive;
  text-align: center;
}

.home h2 {
  display: inline-block;
  margin: 0px 120px;
  box-sizing: border-box;
  background-color: #a0e8af;
  font-family: "Imperial Script", cursive;
  text-align: center;
}

.home .bendicion {
  color: #86baa1;
  width: 500px;
  border-style: solid;
  border-color: aliceblue;
}

.home .boda {
  color: #86baa1;
  width: 500px;
  border-style: solid;
  border-color: aliceblue;
}

.home img {
  margin: 10px 120px;
}

.presents {
  background: url(./images/presents/background.jpg);
  background-size: contain;
  background-size: 40%;
}

.survey {
  /* background: url(./images/food/background_food.jpg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% 200%; */
}

.blessing {
  background: url(./images/Blessing/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.blessing img {
  height: 700px;
}

.apellido {
  font-weight: bold;
  color: rgb(13, 155, 155);
}
